body, html{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-image: url(media/woodbackground.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: auto;
}

nav{
    background: rgba(0,0,0,.9);
    position: absolute;
    z-index: +1;
    width: 100%;
    float: right;
    height: auto;
    padding-left: 170px;
    box-sizing: border-box;
    transition: 0.3s;
}

.logo{
    background: url('media/logo.png');
    background-size: cover;
    margin: 10px 25px;
    padding: 0px 0px;
    height: 193px;
    width: 150px;
    float: left;
    transition: height 0.3s, width 0.3s ease;
    z-index: +2;
    position:fixed;
}

.logosmall{
    height: 96px;
    width: 75px;
}

nav ul{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}

nav ul li{
	display: inline-block;
    list-style: none;
}

nav ul li a{
    color: #151515;
    padding: 0px 30px;
    margin-top: 27px;
    margin-bottom: 27px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #ccc;
    display: block;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #099;
    text-decoration: none;
}

section.navbackground{
    width: 100%;
    height: 300px;
    z-index: -1;
    position: relative;
    background-image: url(media/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-mask-size: 100% 300px;
    -webkit-mask-image: -webkit-gradient(linear, center 45%, center bottom,
   color-stop(0.00,  rgba(0,0,0,1)),
   color-stop(1.00,  rgba(0,0,0,0)));
}

.content{
  margin-top: 75px;
  margin-right:110px;
  margin-left: 110px;
  margin-bottom: 75px;
}

.news {
  margin: auto;
  min-height: 300px;
  max-height: 400px;
  max-width: 800px;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.newsgrid{
display:grid;
grid-template-columns: 3fr 1fr;
}

.newgrid div{
background: #eee;
}

.newsgrid div:nth-child(odd){
  background: #ddd;
}

.newsheader{
  margin-top: 5px;
  margin-left: 15px;
  width: 100%;
  height: 15px;
}

/* Footer */
footer{
  bottom: 0;
  width: 100%;
  margin-right: 50px;
  background-color: #202020;
}

footer .footer-cols{
  color: #F5F5F5;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 2rem;
  font-size: 14px;
}

footer .footer-cols ul{
  list-style: none;
}
footer .footer-cols ul li:first-child{
  font-size: 1.1rem;
  padding-bottom: 0.3rem;
  margin-right: 50px;
  padding-left: 2rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 0.7rem;
  text-align: left;
}

footer .footer-cols ul li a{
  color: #ffff;
  text-decoration: none;
  text-align: left;
  padding-left: 2.6rem;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  position: relative;
  opacity: 0.85;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.name{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #8AF9B1;
  text-shadow: 2px 1px 3px #F668B6;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.info1{
  text-align: center;
  padding: 35px 100px 20px 110px;
  min-height: 25vh;
  color: #A9A9A9;
}

.info{
  text-align: center;
  padding: 0 110px 25px 110px;
  min-height: 200px;
  max-width: 70vh;
  color: #A9A9A9;
}

.infobob{
  text-align: center;
  padding: 0 110px 50px 110px;
  min-height: 200px;
  color: #A9A9A9;
}

.pimg1{
  position: static;
  background-image: url(/Media/Logoskybackground.jpg);
  background-position: center;
  min-width: 100%;
  min-height: 66vh;
}

.pimg2{
  min-height: 400px;
  background-image: url(/Media/dom.jpg);
}

.pimg3{
  min-height: 400px;
  background-image: url(/Media/conall.jpg);
}

.pimg4{
  min-height: 400px;
  background-image: url(/Media/bob.jpg);
  background-size: cover;
}

.section-dark{
  line-height: 1.8rem;
  font-family: "Lato", sans-serif;
  color: #666;
  font-weight: 400;
}
